.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.errMsg {
    color: #d50e3b;
    font-size: 0.75em;
    height: 40px;
    margin-top: 8px;
    width: 320px;
}

.formInput {
    box-sizing: border-box;
    outline: none;
    overflow: hidden;

    height: 1.8rem;
    width: 240px;
    font-size: 0.85rem;

    padding-right: 2rem;
    padding-left: 0.75rem;

    border: 2px solid lightgray;
    border-radius: 2rem;
}

.formInput:focus {
    outline: none;
}
