.outerWrapper {
    display: flex;
    flex: 1;

    margin-top: 80px;
}

.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
