* {
    --headlineFontSize: 18px;
    --descriptionFontSize: 14px;
}

.headline {
    justify-content: space-between;
    font-size: var(--headlineFontSize);
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: var(--descriptionFontSize);
}

.partySprite {
    max-width: 20px;
}
