.modalContainerBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000099;
    z-index: 100;
    outline: none;
    border: none;
    animation: fade-in 0.3s both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modalContainer {
    height: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    animation: expand-in 0.3s both;
}

@keyframes expand-in {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
