.notFound {
    text-align: center;
}

.notFoundImage {
    margin-top: 50px;
    border: solid 5px black;
}
@media only screen and (max-width: 600px) {
    .notFoundImage {
        width: 50%;
    }
}
