.container {
    margin: 5px;
    padding: 2px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 3px #262626;
    width: 70px;
    border-radius: 4px;
    box-shadow: 0px 2px 3px #262626;
    text-align: center;
}