.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    min-height: 145px;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.addIconContainer {
    width: 100%;
}

.addIcon > * {
    font-size: 2em;
    color: lightgray;
}

.pokemonSprite {
    max-height: 100px;
    width: auto;
    margin-right: 20px;
}

.pokemonInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 10px;
}

.pokemonName {
    margin: 0;
}

.typeContainer {
    display: flex;
    flex-direction: row;
    margin-left: -5px;
    margin-bottom: 5px;
}

.closeButton {
    border-radius: 8px;
    margin-left: auto;
    margin-top: 20px;
    align-self: flex-start;
    transition: 0.3s !important;
}

.closeButton:hover {
    background-color: lightgray;
}

.notesArea {
    width: 90%;
    height: 62px;
    padding: 0;
    font-family: inherit;
    border-radius: 4px;
}
