.tableContainer {
    margin-top: 20px;
    border: 2px solid lightgray;
    height: 400px;
    overflow-x: auto;
}

.table {
    width: 100%;
}

.tableRow {
    background-color: whitesmoke;
}

.tableRow:nth-of-type(even) {
    background-color: white;
}

.tableRow:hover {
    cursor: pointer;
    background-color: lightgray;
}

.pokemonName {
    text-align: left;
}

.pokemonSprite {
    height: 32px;
    width: auto;
    margin: 4px 0 4px 0;
}
