.navbar {
    min-height: 100vh;
    width: var(--sideNavBarWidth);
    display: flex;
    flex-direction: column;
    /* The background colour is just for testing purposes rn, not the final colour lol */
    background-color: teal;
}

.navbarIconContainer {
    max-width: 50px;
    margin: 20px 10px 0 10px;
}

.navbarIconImage {
    max-width: 100%;
}

.activeNavLink {
    /* This class will be applied to a nav link in the sidebar when it is active */
}
