.root {
    display: flex;
    min-width: 100%;
}

.main-content {
    flex-grow: 1;
    margin-left: var(--sideNavBarWidth);
    /* Same as width of sidebar*/
}

.not-found {
    text-align: center;
}

.not-found-image {
    margin-top: 50px;
    border: solid 5px black;
}

@media only screen and (max-width: 600px) {
    .not-found-image {
        width: 50%;
    }
}
