.upvoteBox {
    flex-flow: column nowrap;
    align-items: center;

    text-align: center;
    font-size: 20px;
}

.arrow.clickable {
    cursor: pointer;
}

.arrow {
    --up: 270deg;
    transform: rotate(var(--up));
}

.arrow.reversed {
    transform: rotate(calc(360deg - var(--up)));
}
